In [1]:
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
import json

In [15]:
# load data
path_to_open = "..\\data\\_properties_data.json"

data = None
with open(path_to_open, "r", encoding="utf-8") as file:
    data = json.load(file)

df = pd.DataFrame.from_dict(data, orient='index')

df.head()

,URL,Status,transactionType,transactionSubtype,price,type,subtype,country,region,province,...,toiletCount,parkingCountIndoor,parkingCountOutdoor,parkingCountClosedBox,primaryEnergyConsumptionPerSqm,epcScore,hasDoubleGlazing,saleType,creationDate,lastModificationDate
10616910,https://www.immoweb.be/en/classified/10616910,200,FOR_SALE,BUY_REGULAR,399000.0,APARTMENT,APARTMENT,Belgium,Flanders,Limburg,...,1.0,1.0,1.0,None,142.0,B,True,None,2023-06-07T07:39:57.000+0000,2023-06-07T07:39:59.080+0000
10616880,https://www.immoweb.be/en/classified/10616880,200,FOR_SALE,BUY_REGULAR,218000.0,APARTMENT,APARTMENT,Belgium,Flanders,Antwerp,...,1.0,NaN,NaN,None,92.0,A,True,None,2023-06-07T07:22:33.000+0000,2023-07-05T08:30:20.607+0000
10616933,https://www.immoweb.be/en/classified/10616933,200,FOR_SALE,BUY_REGULAR,95000.0,APARTMENT,APARTMENT,Belgium,Flanders,West Flanders,...,1.0,NaN,NaN,None,521.0,F,None,None,2023-06-07T07:52:35.000+0000,2023-07-05T08:28:15.563+0000
10616917,https://www.immoweb.be/en/classified/10616917,200,FOR_SALE,BUY_REGULAR,169000.0,APARTMENT,APARTMENT,Belgium,Flanders,West Flanders,...,NaN,NaN,NaN,None,391.0,D,True,None,2023-06-07T07:47:23.000+0000,2023-07-05T08:19:08.357+0000
10616913,https://www.immoweb.be/en/classified/10616913,200,FOR_SALE,BUY_REGULAR,359000.0,APARTMENT,APARTMENT,Belgium,Flanders,Antwerp,...,NaN,NaN,NaN,None,140.0,B,False,None,2023-06-07T07:44:08.000+0000,2023-06-07T07:44:09.170+0000

In [14]:
ref_postalCode_locality_data = pd.read_csv("..\data\_postal_code_data.csv")
ref_postalCode_locality_data.head()

   postalCode          city  municipality   latitude  longtitude  cityAltName
0        1000       Brussel       Brussel  50.822285    4.381571    Bruxelles
1        1030    Schaarbeek    Schaarbeek  50.822285    4.381571   Schaerbeek
2        1040     Etterbeek     Etterbeek  50.822285    4.381571          NaN
3        1050       Ixelles       Ixelles  50.822285    4.381571       Elsene
4        1060  Saint-Gilles  Saint-Gilles  50.822285    4.381571  Sint-Gillis

In [ ]:
# iterate

In [ ]:
# save csv
path_to_save = "..\\data\\01_fixLocality_properties_data.csv"
df.to_csv(path_to_save)