In [1]:
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
import json

In [2]:
# #############
#   load data
# #############
df = pd.read_csv("..\\data\\01_modifyData_properties_data.csv", index_col="ID")
df.shape

(19978, 40)

In [3]:
# ###########################
#   remove "bad" properties
# ###########################

In [4]:
# type of sale
saleType2drop = ['NewRealEstateProject', 'NotarySale', 'PublicSale', 'LifeAnnuitySale', 'InvestmentProject']
for saleType in saleType2drop:
    df.drop(df[df['saleType'] == saleType].index, inplace=True)
print(df.shape)

(18919, 40)

In [5]:
# remove some bad values
# bedrooms
df.drop(df[df["bedroomCount"] < 1].index, inplace=True)
df.drop(df[df["bedroomCount"] > 30].index, inplace=True)

In [6]:
# livig surface
df.drop(df[df["netHabitableSurface"] < 20].index, inplace=True)
df.drop(df[df["netHabitableSurface"] > 1000].index, inplace=True)
#df.groupby("netHabitableSurface")["type"].count()

In [7]:
df.groupby("netHabitableSurface")["type"].count()

netHabitableSurface
20.0      6
21.0      3
22.0      4
23.0      2
24.0      4
         ..
970.0     3
975.0     2
988.0     2
994.0     1
1000.0    3
Name: type, Length: 587, dtype: int64

In [8]:
# price
df.drop(df[df["price"] < 10000].index, inplace=True)

In [9]:
epc = ['G_A++', 'C_B', 'G_F', 'G_A', 'E_A', 'D_C']
df["epcScore"] = df["epcScore"].str.replace(r"^[A-Z]_", "", regex=True)
df["epcScore"] = df["epcScore"].str.replace("+", "")
df.groupby("epcScore")["type"].count()

epcScore
A    1412
B    3449
C    2907
D    2353
E    1608
F    1883
G     982
Name: type, dtype: int64

In [10]:
# print shape
print(df.shape)

(18348, 40)

In [11]:
# ############################
#   remove redundant columns
# ############################

In [12]:
# #####################
#   remove duplicates
# #####################

In [13]:
# ##############################
#   reduce parking information
# ##############################

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18348 entries, 10616910 to 10616831
Data columns (total 40 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   type                            18348 non-null  object
 1   subtype                         18348 non-null  object
 2   region                          18348 non-null  object
 3   province                        18348 non-null  object
 4   district                        18348 non-null  object
 5   locality                        18348 non-null  object
 6   localityType                    18348 non-null  int64
 7   postalCode                      18348 non-null  int64
 8   address                         14351 non-null  object
 9   latitude                        14817 non-null  float64
 10  longitude                       14817 non-null  float64
 11  condition                       13565 non-null  object
 12  constructionYear                11519 non-null  float64
 13  price                           18348 non-null  float64
 14  pricePerMeter                   16518 non-null  float64
 15  bedroomCount                    18348 non-null  float64
 16  netHabitableSurface             16518 non-null  float64
 17  floor                           9071 non-null   float64
 18  floorCount                      5598 non-null   float64
 19  hasLift                         12359 non-null  object
 20  facadeCount                     13192 non-null  float64
 21  hasGarden                       5803 non-null   object
 22  gardenSurface                   3581 non-null   float64
 23  hasTerrace                      11699 non-null  object
 24  terraceSurface                  7354 non-null   float64
 25  land                            9269 non-null   float64
 26  kitchen                         12044 non-null  object
 27  bathroomCount                   16178 non-null  float64
 28  showerRoomCount                 18348 non-null  float64
 29  toiletCount                     14088 non-null  float64
 30  fireplaceExists                 18348 non-null  bool
 31  hasSwimmingPool                 9502 non-null   object
 32  hasAirConditioning              2143 non-null   object
 33  parkingCountIndoor              7127 non-null   float64
 34  parkingCountOutdoor             5325 non-null   float64
 35  parkingCountClosedBox           0 non-null      float64
 36  primaryEnergyConsumptionPerSqm  14563 non-null  float64
 37  epcScore                        14594 non-null  object
 38  hasDoubleGlazing                14403 non-null  object
 39  saleType                        0 non-null      object
dtypes: bool(1), float64(20), int64(2), object(17)
memory usage: 5.6+ MB

In [15]:
# ################
#   save new csv
# ################
path_to_save = "..\\data\\02_cleanData_properties_data.csv"
df.to_csv(path_to_save, index=True)